html{

    scroll-behavior: smooth;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container{
   max-width: 100%;
   margin: auto;
}



/* header starts here */

header{
    background-color: rgb(16, 191, 197);
    text-align: center;
    width: 100%;
    
}
.logo {

   
   
    border: 3px solid white;
    border-radius: 50%;
    width: 90px;
    height:90px ;
    text-align: center;
    line-height: 90px;
    margin: 20px auto;
}

.logo i{
    padding: 15px;
    cursor: pointer;
    color: white;
}
.logo i:hover{
    color: yellow;
}
.menu{
    margin: 0 auto;
    padding: 0;
   
}
.menu a{
    text-decoration: none;
    padding: 20px 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    color: white;
    border-radius: 10px;


}
.menu a:hover{
    background-color: rgb(27, 157, 164);
    color: yellow;
}


 .row{
    clear: both;
    content: '';
    display: table;
}


/* header ends here */


/* main starts here */



/* bennar start here */


#bennar{

    background-image: url("Picture/Resturent_website_img/food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    

}
.bennar-des{
text-align: center;
padding: 50px 30px;
margin: 0 auto;
font-family: 'Handlee', cursive;

}
.bennar-des h1{
    font-size: 50px;
    width: 100%;
    text-align: center;
    color:black;
    background-color:rgba(255,255,0, 0.884 ) ;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}
.bennar-des p{
    font-size: 27px;
    margin: 20px 0px;
    text-align: center;
    background-color: green;
    width: 80%;
    color: white;
    border-radius: 2px;
    margin: 20px auto;
    padding: 7px 5px;
}

.btn{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin: 0px auto;
    font-size:20px ;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.btn:hover{
transform: scale(1.2);
}

/* bennar end here */



/* About Us start here */

.about{

padding: 1%;
text-align: center;
margin-top:10px ;

}

h2{
font-size:2.6rem ;
text-align: center;
padding: 10px;

}
.description p{

    background-color: white;
    text-align: center;
    font-size:1.2rem;
    padding: 10px;
}


/* About Us end here */

/* food menu start here */

#food-menu{

margin-top: 50px;

}
.food-img img{
    width: 100%;

    display: block;
    text-align: center;
    margin: auto;

}
.food-des{
    background-color: grey;
}
.food-des h3{
text-align:center ;
font-size: 1.7rem;
background-color: green;
color: white;
display: block;
padding: 10px;

}
.food-des p{
   
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
 
}
.food{
    transition: 0.5s;
}
.food:hover{
    transform: scale(1.1);
}

/* food menu ends here */

/* Contact section start here */
#contact-us{

background-color:rgb(193, 140, 243);
margin-top: 20px;
text-align: center;

}
.map{

    width: 100%;
    height: 300px;
    line-height:300px;
}



.contact-details h4{

  font-size: 25px;
  padding: 10px 0;  
}

.address-d h5{ 

font-size: 18px;

}

/* Contact section end here */

/* main ends here */


/* footer start here */
footer{
    background-color:rgb(20, 20, 47) ; 
    text-align: center;
    margin: 0; 
}
.pa p{
    font-size: 20px;
    color: white;
    text-align: center;
}
.icon-t{
    padding: 20px;
    text-align:center ;
    text-align: center;
}

.icon {
  
   width: 40px;
   height: 40px;
   line-height: 40px;
   border: 1px solid white;
    border-radius: 50%;
  
    text-align:center;
    color: white;
    font-size: 25px;
    margin: 0 20px ;
    transition: 0.4s;
    }


    .icon:hover{
  
        background-color: gray;
transform: scale(1.1);
        }


/* footer ends here */







.row{
    width: 100%;
}
.row{
display: table;
content: '';
clear: both;

}

[class*="col-"]{
    float: left;
    padding: 15px;
}


[class*="col-"]{
    width: 100%;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    header{
      
        text-align: center;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }














  .menu{
   
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    display: flex;
  }
    .menu a{
   
font-size: 15px;
display: inline-block;
text-align:left;
justify-content: space-around;
margin-top: 18px;

    }

    .menu a:hover{

    

        background-color: transparent;
        transform: scale(1.1);
        text-decoration: underline;
        text-underline-position:under ;
    
    }
  .col-md-6  .logo{
    margin-top: 20px;
  }
    .contact-details{
    margin-bottom: 20px;

}

/* B   b  */


    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

}









/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header{
      
        text-align: center;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

   .col-lg-4 .logo {
        margin-top: 0px;
        margin-left: 30px;
    }

.menu{
    display: flex;
    text-align:center;
}
.menu a{

    
    display: flex;
    margin-top: 13px;
    font-size: 20px;
    transition: 0.5;

}

.menu a:hover{

    

    background-color: transparent;
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-position:under ;

}
#bennar{
    padding: 30px 0;
    text-align: center;
}
.bennar-des h1{
 width: 60%;
 text-align: center;
 margin: auto;
 padding:10px 0 ;

} 
.bennar-des p{
    margin:20px auto;
    width: 50%;
    padding: 10px;
}
.bennar-des .btn{
    margin: auto;
    width:20%
}



.map{
    width: 90%;
    padding: 10px;
    
   
}
.contact-details{

    margin-top:45px ;
    text-align: center;
}
.pa p{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.icon-t{
   
    text-align: end;
}
.icon:hover{
    transform: scale(1.2);
    color: red;
}


    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

}