*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    background-image:url('Picture/Parallax_website.img/image1.png') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    width: 100%;
    height: 650px;
    background-attachment:fixed ;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.title h1{
    background-color: rgb(48, 46, 46);
    font-size: 2rem;
    letter-spacing :5px;
    word-spacing:10px ;
    text-transform: uppercase;
    padding:5px 15px;
    color: white;
}
.section-one{
    text-align: center;
    padding: 50px;
    
}
.section-one h1{
    margin-bottom: 10px;
}
.section-one p{
    text-align: justify;
}
.middle{
    background-image:url('Picture/Parallax_website.img/image2.png') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    width: 100%;
    height: 450px;
    background-attachment:fixed ;
}
.title1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.title1 h1{
    background-color: rgb(48, 46, 46);
    font-size: 2rem;
    letter-spacing :5px;
    word-spacing:10px ;
    text-transform: uppercase;
    padding:5px 15px;
    color: white;
   
}
.section-two{
    text-align: center;
    padding: 50px;
    background-color: rgb(48, 46, 46);
    
}
.section-two h1{
    color: white;
    margin-bottom: 10px;
}
.section-two p{
    text-align: justify;
    color: white;
}
.last{
    background-image:url('Picture/Parallax_website.img/image3.png') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    width: 100%;
    height: 450px;
    background-attachment:fixed ;
}
.title1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.title1 h1{
    background-color: rgb(48, 46, 46);
    font-size: 2rem;
    letter-spacing :5px;
    word-spacing:10px ;
    text-transform: uppercase;
    padding:5px 15px;
    color: white;
   
}